body
{
      background-color:#7ebf77;

      color: white;
      font-size: 0;
}

p
{
      font-size: 22px;
      margin-left: 10px;
      margin-right: 10px;
}

input
{
  width: 16px;
  height: 16px;
}
table
{
        font-size: 22px;
}

.big
{
      font-size: 50px;
      margin-left: 10px;
      margin-right: 10px;
}


.header
{
    width: 98%;
    height: auto;

    padding: 10px 0 10px 0;
    margin: 16px 1% 10px 1%;

    background-color: #64985f;
    border-radius: 8px;
    font-size: 50px;
    color: #3c523a;
    text-align: center;

}


/*---------------------------------------------*/


.section1
{
    display: block;
    vertical-align: top;
    font-size: 22px;

    width: 98%;
    margin: 8px 1% 8px 1%;
    background-color: #64985f;
    border-radius: 8px;
}

.nomer
{
    border-radius: 8px 8px 0 0;
    padding: 10px 10px 5px 10px;

}

.pic
{
    padding: 5px 10px 5px 10px;
    text-align: center;

}
.imgg
{
      border-radius: 10px;
}

.vopros
{
    padding: 5px 10px 5px 10px;
}

.varianty
{
    border-radius: 0 0 8px 8px;
    padding: 5px 5px 10px 5px;
}

.tabl
{
    table-layout: fixed;
    Border-spacing: 5px;
    width: 100%;
}



/*---------------------------------------------*/



.header2
{
    width: 98%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 0 16px 0;
    margin: 10px 1% 16px 1%;

    background-color: #64985f;
    border-radius: 10px;
}

.block_otv
{
 text-align: center;
}



.Ans
{
    background-color:#4c7548;
    padding: 10px 30px;

    font-size: 24px;
    font-family: serif;
    text-transform: uppercase;
    color: white;

    border-radius: 30px;
    border: 4px solid white;
    margin-top: 15px;
}

.otv
{
  font-weight: bold;
  font-size: 24px;
  color: #374f34;
  -webkit-text-stroke: 1px #273f25;
}



/*---------------------------------------------*/

@media (max-width: 900px)
{
    .big
    {
        font-size: 35px;
    }
    .imgg
    {
    width: 100%;
    }

}
@media (max-width: 600px)
{
    .big
    {
        font-size: 24px;
    }
}
